<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Projeto Rotas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="container is-fluid">

    <nav class="navbar is-dark">
        <div class="container">
            <div class="navbar-menu is-active">
                <div class="navbar-start"></div>
                <div class="navbar-brand"><a class="navbar-item" href="#">Pied Piper</a></div>
                <div class="navbar-end"></div>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-4 has-text-centered is-hidden-tablet"><a class="title is-4" href="#">Pied
                    Piper</a></div>
                <div class="column is-4">
                    <div class="level"><a class="level-item" href="#">Features</a><a class="level-item" href="#">Enterprise</a>
                    </div>
                </div>
                <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-4" href="#">Pied
                    Piper</a></div>
                <div class="column is-4 has-text-right">
                    <div class="level"><a class="level-item" href="#">Support</a><a class="level-item" href="#">ICO</a>
                    </div>
                </div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; 2020 Pied Piper. All right reserved.</p>
        </div>
    </footer>
</div>
</body>
</html>

