{% extends 'base.html' %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-spaced">Mobilidade Urbana</h1>
                <h2 class="subtitle">Conheça as ciclofaixas e rotas ciclísticas da cidade do Recife</h2>
                <div class="buttons is-centered">
                    <a class="control button is-primary" href="{% url 'rotas:rotas-create' %}">
                        <span>Nova Rota</span>
                        <span class="icon is-small">
                           <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="container is-centered">
            <form action="{% url 'rotas:rotas-list' %}" method="get">
                <div class="field has-addons">
                    <div class="control">
                        <input id="search" class="input" type="text" name='q' value="{{ request.GET.q }}"
                               placeholder="Encontre uma rota">
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">Buscar</button>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="title has-text-centered">Confira algumas rotas</h2>
            <div class="columns is-multiline">
                {% for rote in object_list %}
                    <div class="column is-3 box">
                        <h4 class="title is-spaced is-4">{{ rote.nome }}</h4>
                        <p class="subtitle is-6">{{ rote.descricao|truncatechars:20 }}</p>
                        <div class="buttons are-small">
                            <a class="button is-info" href="{% url 'rotas:rotas-detail' rote.pk %}">
                                <span>Detalhes</span>
                                <span class="icon is-small">
                                    <i class="far fa-file-alt"></i>
                                </span>
                            </a>
                            <a class="button is-warning" href="{% url 'rotas:rotas-edit' rote.pk %}">
                                <span>Editar</span>
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-danger" href="{% url 'rotas:rotas-delete' rote.pk %}">
                                <span>Deletar</span>
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <article class="message is-danger">
                        <div class="message-body">
                            <strong>Nehuma rota encontrada</strong>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}