<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'rotas:rotas-create' %}" type="button">Nova Rota</a>

{% for rote in object_list %}
    <section>
    {{ rote.nome }}
        <a href="{% url 'rotas:rotas-detail' rote.pk %}">Detalhes</a>
        <a href="{% url 'rotas:rotas-edit' rote.pk %}">Editar</a>
        <a href="{% url 'rotas:rotas-delete' rote.pk %}">Deletar</a>
    </section>
{% endfor %}
</body>
</html>